<%= render 'flash' %>
<h1>All Secrets</h1>



  <% @posts.each do |post| %>
    <%= link_to post do %>
    <div class = 'post-preview'>
      <h2><%= post.title %></h2>
      <h3>By: <%= render partial: 'author', :locals => {:username => post.user.username} %> </h3>
    </div>
    <% end %>
  <% end %>


<br>


